:root{
    --fuentePrincipal:'Open Sans', cursive;
    --fuenteTitulos:'PT Sans', cursive;
    --Blanco:#ffffff;
    --Negro:#000000;
    --Amarillo:#E8AE14;
    --Rojo:#F9053C;
    --Cafe: #784D3C;
    --Gris: #e1e1e1;

}
html {
    box-sizing: border-box;
    font-size:62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
    font-weight: bold;
}

h1{
    font-size: 4.8rem;
    font-weight: bold;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}
p{
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    text-align: justify;
}

input{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

.boton {
    display: block;
    font-family: var(--fuenteTitulos);
    color: var(--Blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--Negro);
}
.boton--secundario {
    background-color: var(--Cafe);
    margin-left: 18%;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

/* CSS Header*/
.header{
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/banner.jpg);
    color: var(--Blanco);
}

.header__titulo{
    text-align: center;
    font-weight: bold;
    color: var(--Blanco);
}

.header__barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navegacion{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.header__navegacion__enlace {
    display: block;
    text-align: center;
    padding: 0.5rem;
    color: var(--Blanco);
    padding: 1rem;
}

.header__texto {
    text-align: center;
    color: var(--Blanco);
    margin-top: 15rem;
}

.header__texto p{
    text-align: center;
}

/* Main */

.main{
    display:grid;
    grid-template-columns: 60% 40%;
    margin: 3rem;
    column-gap: 3rem;
}

.main p{
    font-size: 1.8rem;
    line-height: 160%;
}

.main__principal h2{
    text-align: center;
}

.main__aside{
    text-align: center;
}

/* Footer */

.footer{
    background-color: var(--Negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
    color: var(--Blanco);
}

/* Contactos*/

.header__contactos{
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/banner_contacto.jpg);
    color: var(--Blanco);
}
