@import "mixin";

header{
    @include image_header;
    color: white;
}

footer{
    @extend header;
    background-image: none;
    height: auto;
    background-color: black;
    margin-top: 4rem;
}