// Colores
$blanco : white;
$negro : black;
$Cafe: #784D3C;
$amarillo: #E8AE14;
$rosa: #F53756;

//Fuentes
//$fuente_principal : 'Open Sans', sans-serif;
$fuente_principal : 'PT Sans', sans-serif;

// Medias Queries

$telefono : 480px;
$tablet : 768px;
$desktop : 992px;
$desktopXL : 1200px;