@use 'base/mixins' as m; 
@use 'base/variables' as v;


.catalogo{
    margin-top: 3rem;
}

.encabezado{

    text-align: center;

    h4{
        font-size: 2rem;
    }
}

.agregar-carrito {
    margin:10px 0;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
